{% extends  "modelo.html" %}

{% block conteudo %}

<h1><strong>Equipe formada por:</strong></h1>
        <h2><strong>Adryano</strong></h2>
            <p> <a href="https://www.linkedin.com/in/adryano-de-oliveira-817b02351/"> LinkedIn de Adryano</a> </p>
        <h2><strong>Arthur</strong></h2>
            <p> <a href="https://www.linkedin.com/in/arthur-estrela-56a571316/"> LinkedIn de Arthur</a> </p>
        <h2><strong>Padilha</strong></h2>
            <p> <a href="https://www.linkedin.com/in/matheus-padilha-ramos-neves-7b2138365/"> LinkedIn de Padilha</a> </p>
        <h2><strong>Laurent</strong></h2>
            <p> <a href="https://www.linkedin.com/in/laurent-maia-882aba307?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"> LinkedIn de Laurent</a> </p>

<a href="/">Página Inicial</a>


{% endblock %}